@page "/fetchdata"
@inject HttpClient Http



@if (for_pages)
{
        <PageTitle>Корзина</PageTitle>

    <h1>Корзина</h1>

    <p>Товары, добавленные вами в корзину</p>

    <table class="table">
        <thead>
            <tr>
                <th>Кол-во</th>
                <th>Название</th>
            </tr>
        </thead>
        <tbody>
            @if (currentC1 > 0)
            {
                <tr>
                    <td>@currentC1</td>
                    <td>@name1</td>
                </tr>
            }
            @if (currentC2 > 0)
            {
                <tr>
                    <td>@currentC2</td>
                    <td>@name2</td>
                </tr>
            }
            @if (currentC3 > 0)
            {
                <tr>
                    <td>@currentC3</td>
                    <td>@name3</td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
   <h3>Авторизиируйтесь</h3>
}

@code {
    int currentC1 = Pages.Counter.currentCount1;
    int currentC2 = Pages.Counter.currentCount2;
    int currentC3 = Pages.Counter.currentCount3;

    string name1 = "познавайка";
    string name2 = "виртуальная реальность";
    string name3 = "systema";

    bool for_pages = Pages.Index.for_pages;
    
    
}
